/*RESETS*/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

/*RESETS END*/
/*dialog*/
dialog {
    background-color: black;
    color: white;
    padding: 2rem;
}
dialog::backdrop {
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.5);
}
dialog input,
dialog textarea,
dialog select {
    background-color: black;
    color: white;
}
dialog fieldset {
    padding: 2rem;
}
dialog form {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}
dialog form label,
dialog form input,
dialog form select,
dialog form textarea {
    flex: 1 1 0;
    width: 100%;
    padding: 0.75rem;
}
dialog form div {
    width: 100%;
    display: flex;
    gap: 1rem;
}
dialog form button {
    width: 100%;
}

/*wrapper and sidebar*/
.wrapper {
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    font-size: 1.2rem;
}
.main_content h1 {
    text-align: center;
    margin-bottom: clamp(2rem, 3.5rem, 5rem);
}
.inner_wrapper {
    display: flex;
    margin: 0 2rem;
    padding: 2rem 0;
    color: white;
    height: 100%;
}
.sidebar {
    width: 350px;
    height: 100%;
    padding-top: 6.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.main_content {
    width: 100%;
}

/*grid view*/

.grid_view_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}
.grid_view_wrapper .todo_item {
    padding: 1.5rem;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: clamp(0.25rem, 0.5rem, 1rem);
}
.grid_view_wrapper .todo_item .actions {
    display: flex;
    gap: 1rem;
}
.grid_view_wrapper .todo_item .actions button {
    width: 100%;
}
/*table view*/

.list_view_wrapper table {
    width: 100%;
    border-collapse: collapse;
}
.list_view_wrapper .todo_item td,
th {
    padding: 1.5rem;
    border: 1px solid white;
}

/*Buttons*/
.btn {
    padding: 0.75rem;
    background-color: rgb(44, 44, 44);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.507);
    border-radius: 10px;
    cursor: pointer;
}
